.element__delete-button {
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  cursor: pointer;
}

.element__delete-button:hover {
  opacity: .6;
}
