.popup__close-link {
  display: block;
  background-image: url('../../../images/popup-closeIcon.png');
  width: 32px;
  height: 32px;
  position: relative;
  bottom: calc(8px + 330px/2);
  right: 8px;
}
