.profile__addButton {
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
  background-image: url("../../../images/addButton-img.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

.profile__addButton:hover {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .profile__addButton {
    width: 282px;
    align-self: center;
    background-size: 16px;
  }
}
