.profile__editButton {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: #000;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .profile__editButton {
    position: absolute;
  }
}
