.popup__inputs {
  margin-top: 18px;
  margin-bottom: 47.5px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 600px) {
  .popup__inputs {
    margin-top: 43px;
    margin-bottom: 44.5px;
  }
}
